@model DipendenteViewModel
<link rel="stylesheet" href="~/css/calendariolavoratori.css">
<div class="search-container">
    <form asp-action="CalendarioLavoratori" method="get">
        <input type="text" id="nome" name="nome" placeholder="Cerca dipendente" />
        <input type="hidden" id="annoCorrente" name="annoCorrente" />
        <input type="hidden" id="meseCorrente" name="meseCorrente" />
        <button type="submit" id="ricarca-button">Cerca</button>
    </form>
</div>

@if (Model != null && Model.DipendenteTrovato == true)
{
    int meseCorrente = Model.MeseProgrammazione;
    int annoCorrente = Model.AnnoProgrammazione;
    string meseTestuale = new DateTime(@Model.AnnoProgrammazione,@Model.MeseProgrammazione , 1).ToString("MMMM");
    <div> 
        <form asp-action="CalendarioLavoratori" method="get">
            <input type="hidden" name="nome" value="@Model.Nome" />
            <input type="hidden" name="annoCorrente" value="@Model.AnnoProgrammazione" />
            <input type="hidden" name="meseCorrente" value="@Model.MeseProgrammazione" />
            <button type="submit" name="direzione" value="precedente"> precedente</button>    
            <span>@meseTestuale</span> 
            <span>@annoCorrente</span> 
            <button type="submit" name="direzione" value="successivo"> successivo</button>
        </form>
    </div>
    <div class="calendar">
    @for (int i = 1; i <= DateTime.DaysInMonth(Model.AnnoProgrammazione, Model.MeseProgrammazione); i++)
    {
        <div class="day">
            @i
            @{
                ProgrammazioneViewModel programmazione = Model.Programmazioni.FirstOrDefault(pm => pm.DataGiorno.Day == i);
            }
            @if (programmazione != null)
            {
                <div class="programmazione">
                    esiste una programmazione
                </div>
            }
        </div>
    }
    </div>
    <div>
        form per inserire o modificare una programmazione 
    </div>
}
else if (Model != null && Model.DipendenteTrovato == false)
{
    <div>
        dipendente nonn trovato
    </div>
}
else
{
    <div>
        benvenuto nella sezione calndari
    </div>
}

<script>
    const dataCorrente = new Date();
    const annoCorrente = dataCorrente.getFullYear();
    const meseCorrente = dataCorrente.getMonth() + 1; // I mesi vanno da 0 (gennaio) a 11 (dicembre)

    // Impostare i valori degli input nascosti
    document.getElementById('annoCorrente').value = annoCorrente;
    document.getElementById('meseCorrente').value = meseCorrente;
</script>