@model AziendaViewModel
@using System.Text.Json
<link rel="stylesheet" href="~/css/elencolavoratori.css">

<div class="search-container">
    <input type="text" id="search" placeholder="Cerca dipendente...">
    <button id="search-button">Cerca</button>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th style="min-width: 150px;">Nome</th>
            <th style="min-width: 150px;">Cognome</th>
            <th>Email</th>
            <th>Azioni</th>
    </thead>
    <tbody>
        @foreach (DipendenteViewModel dipendente in Model.Dipendenti)
        {
            int meseCorrente = DateTime.Now.Month;
            int annoCorrente = DateTime.Now.Year;
            var jsonModel = JsonSerializer.Serialize(dipendente);
            <tr>
                <td>@dipendente.IdDipendente</td>
                <td>@dipendente.Nome</td>
                <td>@dipendente.Cognome</td>
                <td>@dipendente.Email</td>
                <td class="container-azioni">
                    <button onclick='editEmployee(@Html.Raw(jsonModel.Replace("\"", "&quot;")))'><i
                            class="fa-solid fa-info"></i></button>
                    <form asp-action="CalendarioLavoratori" method="post">
                        <button type="submit"><i class="fa-regular fa-calendar-days"></i></button>
                        <input type="hidden" name="nome" value="@dipendente.Nome" />
                        <input type="hidden" name="annoCorrente" value="@annoCorrente" />
                        <input type="hidden" name="meseCorrente" value="@meseCorrente" />
                    </form>
                    <form asp-action="GestioneAssenze" method="post">
                        <button type="submit"><i class="fa-solid fa-list"></i></button>
                        <input type="hidden" name="nome" value="@dipendente.Nome" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" id="modal">
    <div class="modal-content">
        <form action="">
            <input class="input-noteditable" type="text" id="employee-nome" placeholder="Nome" readonly>
            <input class="input-noteditable" type="text" id="employee-cognome" placeholder="Cognome" readonly>
            <input class="input-noteditable" type="text" id="employee-data-nascita" placeholder="Data di nascita" readonly>
            <input class="input-noteditable" type="text" id="employee-email" placeholder="Email" readonly>
            <div class="input-container">
                <input class="input-editable" type="text" id="employee-stipendio" placeholder="Stipendio" readonly>
                <i class="fa-solid fa-pen-to-square" data-target="employee-stipendio"
                    onclick="rendiModificabile(this)"></i>
            </div>
            <div class="input-container">
                <input class="input-editable" type="text" id="employee-valutazione" placeholder="Valutazione" readonly>
                <i class="fa-solid fa-pen-to-square" data-target="employee-valutazione"
                    onclick="rendiModificabile(this)"></i>
            </div>
            <button type="submit" class="submit-btn">Salva</button>
        </form>
    </div>
</div>
<script>
    function editEmployee(dipendente) {
        var modal = document.getElementById('modal');
        var modalNome = document.getElementById('employee-nome');
        var modalCognome = document.getElementById('employee-cognome');
        var modalNascita = document.getElementById('employee-data-nascita');
        var modalEmail = document.getElementById('employee-email');
        var modalStipendio = document.getElementById('employee-stipendio');
        var modalValutazione = document.getElementById('employee-valutazione');
        var dataCasuale = new Date(1960 + Math.random() * (1990 - 1960), Math.floor(Math.random() * 12), Math.floor(Math.random() * 31) + 1);
        var dataCasualeFormattata = `${dataCasuale.getDate().toString().padStart(2, '0')}-${(dataCasuale.getMonth() + 1).toString().padStart(2, '0')}-${dataCasuale.getFullYear()}`;

        modalNome.value = dipendente.Nome;
        modalCognome.value = dipendente.Cognome;
        modalEmail.value = dipendente.Email;
        modalNascita.value = dataCasualeFormattata;
        modalStipendio.value = dipendente.Stipendio;
        modalValutazione.value = dipendente.Valutazione;
        modal.style.display = 'flex';
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    }
    function rendiModificabile(icon) {
        var targetId = icon.getAttribute('data-target');
        var input = document.getElementById(targetId);
        console.log(targetId);
        console.log(input);
        input.removeAttribute('readonly');
    }
</script>