@model AziendaViewModel
@using System.Text.Json
<link rel="stylesheet" href="~/css/elencolavoratori.css">

<div class="search-container">
    <input type="text" id="search" placeholder="Cerca dipendente...">
    <button id="search-button">Cerca</button>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th style="min-width: 150px;">Nome</th>
            <th style="min-width: 150px;">Cognome</th>
            <th>Email</th>
            <th>Azioni</th>
    </thead>
    <tbody>
        @foreach (DipendenteViewModel dipendente in Model.Dipendenti)
        {
            var jsonModel = JsonSerializer.Serialize(dipendente);
            <tr>
                <td>@dipendente.IdDipendente</td>
                <td>@dipendente.Nome</td>
                <td>@dipendente.Cognome</td>
                <td>@dipendente.Email</td>
                <td><button onclick="editEmployee(@Html.Raw(jsonModel))">i</button></td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" id="modal">
    <div class="modal-content">
        <input type="text" id="employee-nome" placeholder="Nome">
        <input type="text" id="employee-cognome" placeholder="Cognome">
        <input type="text" id="employee-data-nascita" placeholder="Data di nascita">
        <input type="text" id="employee-email" placeholder="Email">
        <input type="text" id="employee-stipendio" placeholder="Stipendio">
        <input type="text" id="employee-valutazione" placeholder="Valutazione">
    </div>
</div>
<script>
    function editEmployee(dipendente) {
        var modal = document.getElementById('modal');
        var modalNome = document.getElementById('employee-nome');
        var modalCognome = document.getElementById('employee-cognome');
        var modalEmail = document.getElementById('employee-email');
        var modalStipendio = document.getElementById('employee-stipendio');
        var modalValutazione = document.getElementById('employee-valutazione');
        modalNome.value = "Mario";
        modal.style.display = 'block';
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    }

</script>